/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .vedicastro-setting-list {
    border: 1px solid #dcdcdc;
    margin-top: 10px;
}
.vedicastro-setting-list ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;

}
.vedicastro-setting-list ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 0;
}
.vedicastro-setting-list ul.tabs li.current{
    background: #fff;
    color: #222;
}
.vedicastro-setting-list .tab-content{
    display: none;
    background: #fff;
    padding: 15px;
    border-top: 1px solid #dcdcdc;
}
.vedicastro-setting-list .tab-content.current{
    display: inherit;
}
.vedicastro-hide{
	display: none !important;
}
input.error {
    border: 1px solid #f70101;
}
.error{
    color:red !important;
}
.form-control {
    box-shadow: none;
    outline: 0;
    height: 36px;
    width: 50%;
    padding: 5px;
    font-size: 14px;
    font-family: sans-serif;
    color: #000;
    border-radius: 3px;
    border: 1px solid #999d;
}
.form-group label {
    font-size: 13px;
    font-family: system-ui;
    font-weight: 500;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #23282d;
}
.form-group {
    margin-top: 15px;
    padding-left: 6px;
}
.vedicastro-setting .tab-content {
    background: #ffffff;
    padding: 0 20px 15px;
}
input[type=text] {
    padding: 0 8px;
    line-height: 2;
    min-height: 30px;
    font-size: 13px;
    color: #040404;
}
button.vedicastro_from_submit_btn {
    margin-top: 20px;
    margin-left: 2px;
}
div#vedicastro-setting {
    color: #0b540b;
    margin-top: 10px;
}
button.vedicastro_from_submit_btn:hover {
    background-color: #0073aa;
    transition: 0.5s;
}
button.vedicastro_from_submit_btn {
    background-color: black;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    padding: 10px 30px;
    line-height: 16px;
    color: #fff;
    font-family: system-ui;
    font-size: 16px;
    font-weight: 600;
    box-shadow: none !important;
    outline: 0 !important;
    cursor: pointer;
    margin-left: 8px;
    position: relative;
}
.form-group::placeholder{
	color: #797979;
}
img.LoderImg{
    position: absolute;
    width: 15px;
    right: 10px;
    top: 10px;
}
span.status.positive {
    color: #ffff;
    background-color: #32cd32;
    padding: 3px 6px;
    color: #fff;
    font-weight: 700;
}
span.status.neutral {
    color: #ffff;
    background-color: #808080;
    padding: 3px 6px;
    color: #fff;
    font-weight: 700;
}
div#vedicastro-setting-message-success, div#vedicastro-lists-message-success {
    color: #0b540b;
    margin-top: 10px;
}
.tab-content.current[data-tab="vedicastro-lists"] > .form-group.w-50.float-left {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 20px;
}
.kundli_vedic_group.stylenorth {
    width: 38%;
    margin-left: 21px;
}
.heading_title_border {
    display: flex;
    align-items: center;
}
.heading_title_border label {
   padding-left: 10px;
}
.tab-content.current[data-tab="vedicastro-lists"] > .form-group.w-50.float-left_url{
    display: grid;
    grid-template-columns: 20% auto;
    grid-column-gap: 65px;
    background-color: #f0f0f1;
    padding: 6px 0px;
}
.parameter{
     display: grid;
    grid-template-columns: 23% 3% auto;
}
.parameter .parameter_value , .parameter .parameter_key{
        font-size: 13px;
        font-weight: 400;
        font-family: revert;
}
.pameter_option{
        padding: 10px 0px;
}
label.withoutform {
    font-size: 14px;
    padding-top: 14px;
}